In [6]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import mitosheet
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "id-frybvcgrio", "analysisToReplay": null, "code": [], "stepSuâ€¦

In [2]:
df = pd.read_csv('../raw_data/sales_train.csv', parse_dates=['date'])

/var/folders/jd/69j4d5lx4s9dg3b1d0bfcxx80000gp/T/ipykernel_8782/838203109.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_csv('../raw_data/sales_train.csv', parse_dates=['date'])

In [4]:
pivot = pd.pivot_table(df, values='item_cnt_day', index=['shop_id','item_id'],
                    columns=['date_block_num'], aggfunc=np.sum)

In [5]:
pivot

date_block_num    0     1   2   3   4   5    6   7   8    9   ...  24   25  \
shop_id item_id                                               ...
0       30       NaN  31.0 NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
        31       NaN  11.0 NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
        32       6.0  10.0 NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
        33       3.0   3.0 NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
        35       1.0  14.0 NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
...              ...   ...  ..  ..  ..  ..  ...  ..  ..  ...  ...  ..  ...
59      22154    1.0   NaN NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  NaN
        22155    NaN   NaN NaN NaN NaN NaN  1.0 NaN NaN  NaN  ... NaN  NaN
        22162    NaN   NaN NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  9.0
        22164    NaN   NaN NaN NaN NaN NaN  NaN NaN NaN  NaN  ... NaN  2.0
        22167    NaN   NaN NaN NaN NaN NaN  NaN NaN NaN  1.0  ... NaN  NaN

date_block_num    26   27   28  29   30   31  32  33
shop_id item_id
0       30       NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        31       NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        32       NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        33       NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        35       NaN  NaN  NaN NaN  NaN  NaN NaN NaN
...              ...  ...  ...  ..  ...  ...  ..  ..
59      22154    NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        22155    NaN  NaN  NaN NaN  NaN  NaN NaN NaN
        22162    4.0  1.0  1.0 NaN  NaN  1.0 NaN NaN
        22164    1.0  2.0  NaN NaN  1.0  NaN NaN NaN
        22167    NaN  NaN  NaN NaN  NaN  NaN NaN NaN

[424124 rows x 34 columns]